//VARIABLES
$main-color: #3d9af9;

%header-icons {
  padding: 2em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition-property: opacity;
  transition-duration: 300ms;
  &:hover { opacity: 1; }
}

//STYLES
::selection {
    background-color: rgba(0,0,0,0.3);
    color: #fff;
}

html {scroll-behavior: smooth;}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  height: 100vh;
  text-align: center;
  background-color: $main-color;
  background-image: url('img/topography.svg');
  background-attachment: fixed;
  padding-bottom: 1em;
  margin-bottom: 0;
  h1 {
    color: rgba(255,255,255,1);
    font-weight: bold;
    font-size: 15vw;
    @media screen and (min-width: 600px) { font-size: 10vw; }
    @media screen and (min-width: 800px) { font-size: 5vw; }
  }
  .header-text {
    width: 90%;
    margin: auto;
    color: rgba(0,0,0,0.7);
  }
  .lead {
    font-weight: bold;
    font-style: italic;
    font-size: 5vw;
    margin-bottom: 0;
    @media screen and (min-width: 800px) { font-size: 2vw; }
  }
  .contact {
    padding: 0;
    display: inline-flex;
    list-style-type: none;
    li {
      @extend %header-icons;
      opacity: 0.7;
    }
    #linkedin { background-image: url('img/icon-linkedin.svg'); }
    #github { background-image: url('img/icon-github.svg'); }
    #email { background-image: url('img/icon-email.svg'); }
  }
  #down-arrow {
    @extend %header-icons;
    background-image: url('img/icon-down-arrow.svg');
    opacity: 0.3;
    display: block;
    width: min-content;
    margin: 0 auto;
  }
}

main {
  margin: auto;
  color: $main-color;
  display: grid;
  section {
    padding: 3em 0;
  }
}

h3 {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
}

#featured {
  height: 50vh;
  background-color: rgba($main-color,0.1);
  @media screen and (min-width: 800px) {
    height: 75vh;
  }
}

#projects {
  padding-bottom: 0;
}

.card-deck {
  width: 90%;
  margin-top: 2em;
  display: grid;
  margin: auto;
  .card {
    border-color: $main-color;
    margin: 1em;
  }
  @media screen and (min-width: 760px) {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-auto-flow: row;
  }
  .card-title {
    font-weight: bold;
  }
  a {
    color: $main-color;
    text-decoration: none;
    &:hover {
      background-color: $main-color;
      color: #fff;
      text-decoration: none;
    }
  }

  .btn-outline-secondary {
    color: $main-color;
    border: 1px solid $main-color;
    right: 0;
    &:hover {
      background-color: $main-color;
      border-color: $main-color;
      color: #fff;
    }
  }

  .show > .btn-outline-secondary.dropdown-toggle {
    background-color: $main-color;
    color: #fff;
    border-color: $main-color;
  }
}

#carouselExampleIndicators {
  overflow: hidden;
  background: transparent;
  margin: auto;
  height: 100%;
}

.carousel-indicators {
  position: unset;
  & li {
    border-radius: 50%;
    width: .75em;
    height: .75em;
    background-color: $main-color;
  }
}

.carousel-inner {
  width: 85%;
  height: 75%;
  margin: auto;
  @media screen and (min-width: 760px) {
    width: 50%;
    height: 85%;
  }
}


// .carousel{
//     background: #2f4357;
//     margin-top: 20px;
// }
// .carousel-item{
//     text-align: center;
//     min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
// }
// .bs-example{
// 	margin: 20px;
// }
